@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}
/* Hide Google top bar */
.goog-te-banner-frame {
  display: none !important;
}

/* Hide extra top space added by Google */
body {
  top: 0 !important;
}

/* Hide popup frame */
.goog-te-spinner-pos,
.goog-te-balloon-frame {
  display: none !important;
}

/* Hide Google Translate toolbar */
.goog-te-banner {
  display: none !important;
}

/* Hide the goog logo iframe */
iframe.goog-te-menu-frame {
  box-shadow: none !important;
  border: none !important;
}

/* Prevent layout shifting */
.goog-te-gadget-icon {
  display: none !important;
}
